<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vincent.hong.dao.authority.CustomerMapper" >
  <resultMap id="BaseResultMap" type="com.vincent.hong.model.authority.Customer" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="CUS_CODE" property="cusCode" jdbcType="INTEGER" />
    <result column="CUS_NAME" property="cusName" jdbcType="VARCHAR" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="NICKNAME" property="nickname" jdbcType="VARCHAR" />
    <result column="IDN" property="idn" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="MPHONE" property="mphone" jdbcType="VARCHAR" />
    <result column="ADDR" property="addr" jdbcType="VARCHAR" />
    <result column="EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="CREATE_DT" property="createDt" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>