<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vincent.hong.dao.authority.ErpProgMapper" >
  <resultMap id="BaseResultMap" type="com.vincent.hong.model.authority.ErpProg" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="PROG_ID" property="progId" jdbcType="INTEGER" />
    <result column="PROG_NAME" property="progName" jdbcType="VARCHAR" />
    <result column="DESCRIPT" property="descript" jdbcType="VARCHAR" />
    <result column="URL" property="url" jdbcType="VARCHAR" />
    <result column="SHOW_ORDER" property="showOrder" jdbcType="INTEGER" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
    <result column="CREATE_DT" property="createDt" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>